h4 I grew up till an adult in China.
h4 From 1998 to 2010, I went to primary and secondary schools in Mianyang, a city located in southwest of China.
p 
|After that, I went to 
a(href="https://en.wikipedia.org/wiki/Shanghai_Jiao_Tong_University") University in Shanghai.

h4
|After I finished my bachelor, I went to Europe for higher education as a master student. During my second year master at 
a(href="https://en.wikipedia.org/wiki/Technical_University_of_Berlin") Institute of Technology Berlin.

h4 
|In 2015 when I was studying in Berlin, I spent half a year working part-time as QA at 
a(href="https://www.softgames.de/") Softgames.de.
h4 
|From 2nd half of 2016 to beginning of 2017, I worked as a Javascript development working student at 
a(href="https://www.deliveryhero.com/") Deliveryhero.

h4 
|After graduating from master school, I went to Tokyo. I spent some time doing internship at 
a(href="http://www.nii.ac.jp/en/") NII 

|before I started my first full-time job at 
a(href="https://en.wikipedia.org/wiki/Rakuten") Rakuten.

h4 In my spare time, I like reading detective stories. 
h4 By the way, I don't like sports.
